body {
  width: 100%;
  font-family: sans-serif;
  margin: 0;
}

header {
  background-image: url("IMG_1540.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 500px;
  width: 100%;
  color: #001359;
}

nav {
  background-color: #b41818;
  color: #45a9c4;
  display: flex;
  justify-content: space-between;
}

div {
  padding: 20px 25px;
}

ul li {
  display: inline;
  list-style-type: none;
}

footer {
  background-color: #45a9c4;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.main {
  background-color: #001359;
  color: white;
  display: flex;
  flex-direction: column;
}

.nabidka {
  display: flex;

}

.instagram {
  height: 200px;
  background-color: #45a9c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seznamRecenzi {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 35px;
}

.recenze {
  width: 25%;
  background-color: #b41818;
}
