:root {
  --bgColor1: #e4d7d7;
  /*#45a9c4*/
  --bgColor2: #94cad9;
  --bgColor3: #e6ebda;
  --white: #ffffff;
  --black: #1c1c1c;
}

body {
  width: 100%;
  font-family: sans-serif;
  margin: 0;
}

header {
  background-image: url("IMG_1540.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 500px;
  width: 100%;
  color: #001359;
}

nav {
  background-color: var(--bgColor2);
  display: flex;
  justify-content: flex-end;
  height: 55px;
}

div {
  padding: 20px 25px;
}

ul li {
  display: block;
  list-style-type: none;

}

li {
  padding: 3px;
}

.nav-mobile {
  width: 55px;
  border: none;
  background-color: transparent;
  background-size: cover;
}

.nav-hamburger {
  background-image: url("img/hamburgerMenu.png");
}

.nav-cross {
  background-image: url("/img/crossMenu.png");
}

.nav-list {
  background-color: var(--bgColor1);
}

.nav-list-hidden {
  display: none;
}

footer {
  background-color: #45a9c4;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.main {
  background-color: #001359;
  color: white;
  display: flex;
  flex-direction: column;
}

.nabidka {
  display: flex;
}

.instagram {
  height: 200px;
  background-color: #45a9c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seznamRecenzi {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 35px;
}

.recenze {
  width: 25%;
  background-color: #b41818;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }

  nav {
    color: #45a9c4;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  ul li {
    display: inline;
    list-style-type: none;
    justify-content: space-between;

  }

  ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }

  .mobile-nav-back {
    display: none;
  }

  .navigation {
    display: none;
  }

  .nav-list {
    display: block;
    justify-content: space-evenly;
    background-color: var(--bgColor1);
  }


}
