.revievewList {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 35px;
}

.revievewList__text {
  text-align: justify;
}

.review {
  width: 25%;
  background-color: var(--bgColor2);
}
