nav {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  /*border-radius: 100%;*/
}

.navigation {
  background-color: var(--bgColor3);
  border-bottom: 1px solid var(--nav);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.menu__list {
  padding: 0;
  margin: 0;
  font-weight: 700;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.menu__list li {
  display: block;
  list-style-type: none;
}

li {
  padding: 3px;
}

p {
  text-align: justify;
}

.nav-mobile {
  width: 50px;
  border: none;
  background-size: cover;
  background-color: transparent;
}

.nav-list {
  padding: 0;
}

.nav-list-hidden {
  display: none;
  padding: 0;
}

.menuItem {
  color: var(--darkBlue);
  text-decoration: none;
  background-color: var(--nav);
  margin: 0;
}

.menuItem:hover,
menuItem:active {
  color: var(--bgColor3);
  text-decoration: none;
  background-color: var(--darkBlue);
}

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  .menu__list li {
    display: inline;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;

  }

  .menu__list {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }

  .menuItem {
    color: var(--darkBlue);
    background-color: var(--bgColor2);
  }

  .mobile-nav-back {
    display: none;
  }

  .navigation {
    display: none;
  }

  .nav-list {
    display: block;
    justify-content: space-evenly;
  }

  .menuItem:hover,
  menuItem:active {
    background-color: var(--bgColor3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    text-decoration: none;
    color: var(--darkBlue);
  }
}
