nav {
  background-color: var(--bgColor2);
  display: flex;
  justify-content: flex-end;
  height: 55px;
}

.menu__list li {
  display: block;
  list-style-type: none;

}

li {
  padding: 3px;
}

p {
  text-align: justify;
}

.nav-mobile {
  width: 55px;
  border: none;
  background-color: transparent;
  background-size: cover;
}

.nav-hamburger {
  background-image: url("img/hamburgerMenu.png");
}

.nav-cross {
  background-image: url("/img/crossMenu.png");
}

.nav-list {
  background-color: var(--bgColor2);
}

.nav-list-hidden {
  display: none;
}

.nabidka {
  display: flex;
}

.menuItem {
  color: var(--white);
  text-decoration: none;
}

.menuItem:hover {
  color: var(--lightBlue);
  text-decoration: none;
  background-color: var(--bgColor1);
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .menu__list li {
    display: inline;
    list-style-type: none;
    justify-content: space-between;

  }

  .menu__list {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }

  .mobile-nav-back {
    display: none;
  }

  .navigation {
    display: none;
  }

  .nav-list {
    display: block;
    justify-content: space-evenly;
    background-color: var(--bgColor1);
  }


}
