footer {
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: var(--darkBlue)
}

.footer_link {
  text-decoration: none;
  color: var(--bgColor2);
}

.footer_link:hover {
  text-decoration: none;
  color: var(--lightBlue);
}
