:root {
  --bgColor1: #505050;
  --bgColor2: #D6D6D6;
  --bgColor3: #e6ebda;
  --white: #ffffff;
  --black: #1c1c1c;
  --darkBlue: #001359;
  --lightBlue: #45a9c4;
  --red: #b41818;
}

footer {
  background-color: var(--bgColor2);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: var(--darkBlue)
}

.footer_link {
  text-decoration: none;
  color: var(--darkBlue);
}

.footer_link:hover {
  text-decoration: underline;
  color: var(--lightBlue);
  font-weight: bold;
}
