@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: sans-serif;
}

input[type=submit] {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--lightBlue);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8em;
}

input[type=submit]:hover {
  background-color: var(--darkBlue);
}

.formStyle__input {
  padding: 20px 0 5px 0;
}

.messageStatus {
  color: var(--red);
  margin-bottom: -10px;
}

@media only screen and (min-width: 600px) {
  .formStyle__group {
    display: flex;
    gap: 20px;
  }

  .formStyle__group>div {
    width: 50%;
  }
}

/* GREEN
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
  */
